* {
    /*background-color: #120621;*/
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
}


/*.................................... NAZWA PODSTRONY .........................................*/
.hi{
    background-color: #120621;
    color: white;
    text-align: center;
    padding: 100px 300px 40px 300px;
}


/*.......................................... MENU ...............................................*/
.menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #17181a;
    font-family: Arial;
    position: fixed;
    width: 100%;
}

.menu > ul > .logowanie {
    float: right;
}

.menu > ul > li {
    float: left;
}

.menu > ul > li a {
    display: block;
    color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu >ul > li a:hover {
    background-color: #120621;
    color: white;
    border-radius: 10px;
    transition: 0.4s background-color, text-shadow;
    text-shadow: 0 0 0.2em #8c39a8, 0 0 0.2em #9439a8, 0 0 0.2em #e83bee;
}

.logowanie{
    float: right;
}
/*.............................................. PAGINACJA ............................................*/

.navigation{
    height:100%;
    padding: 30px;
    background-color: whitesmoke;
    text-align: center;
}
.pagination{
    list-style-type: none;
    background-color: whitesmoke;
    font-family: Arial;
    display: inline-flex;
}

.pagination > li a {
    text-decoration: none;
    color: #120621;
    background-color: white;
    border-style: solid;
    border-color: #120621;
    border-radius: 12px;
    padding: 3px;
    margin: 4px 2px;
}
.pagination > li a:hover{
    color: white;
    background-color: #120621;
    transition: 1s;
}
.page-item.active{
    text-decoration: none;
    color: white;
    background-color: #120621;
    border-style: solid;
    border-color: #120621;
    border-radius: 12px;
    padding: 3px;
    margin: -4px 2px;
    font-weight: bold;
}

.page-item.disabled{
    color: grey;
}


/*.............................................. TABELA ............................................*/
.table{
    border: 1px solid black;
    background-color: white;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}
.thead {
    background-color: black;
    color: white;
    text-decoration: none;
}

.thead a{
    background-color: black;
    color: white;
    text-decoration: none;
}

.table td {
    border: 1px solid black;
    padding: 5px;
}
table th {
    font-weight: bold;
    padding: 10px;
    border: 1px solid black;
}

.c{
    text-align: center;
    padding: 30px;
    background-color: white;

}
.create {
    color: #120621;
    background-color: white;
    border-style: solid;
    border-color: #120621;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
    margin: 10px;
    text-align: center;
    align-items: center;


}

.create:hover{
    color: white;
    background-color: #120621;
    transition: 1s;
}

.create:focus{
    box-shadow: 0 0 1em #120621;
    transition: 1s;
}

/*............................................ FOOTER .........................................*/
.footer{
    padding: 20px;
    height: 100%;
    text-align: center;
    background-color: #17181a;
    color: #cccccc;
}

.footernav a{
    text-decoration: none;
    color: grey;
    font-family: Arial;
    padding: 5px;
}

.info{
    padding: 20px;
    font-family: Arial;
}

.copyright{
    padding: 5px;
    font-family: Arial;
}


.alert-danger{
    color: red;
    background-color: whitesmoke ;
    border: solid 1px red;
    padding: 5px;
    margin: 10px;
}

.invalid-feedback{
    color: red;
    padding: 10px;
}

.alert-success{
    color: green;
    background-color: whitesmoke ;
    border: solid 1px green;
    padding: 5px;
    margin: 10px;
}


.category{
    text-align: center;
    padding: 20px;
}
.alert-warning{
    color: red;
    background-color: whitesmoke ;
    border: solid 1px red;
    padding: 5px;
    margin: 10px;
}


@media screen and (max-width: 900px) {
    .menu > ul {
        position: relative;
    }

    .menu > ul > li {
        float: none;
    }

    li a {
        padding: 8px 12px;
        border: 1px solid whitesmoke;
    }
    .menu > ul > li{
        float: none;
    }
    .logowanie {
        position: relative;
        text-align: center;
        float: none;
    }
    .kontenerek{
        width: 100%;
        padding: 20px;
    }

    .hi {
        padding: 5px;
    }
    .menu > ul > .logowanie {
        float: none;
    }
    .formularz{
        padding: 0;
        text-align: center;
    }
    .form{
        padding: 0;
        width: 100%;
    }
}
@media screen and (max-width: 470px) {

}