* {
    /*background-color: #120621;*/
    margin:0;
    padding:0;
    font-family: Arial;
}
/*.......................................... MENU ...............................................*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #17181a;
    position: fixed;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu >ul > li a:hover {
    background-color: #120621;
    color: white;
    border-radius: 10px;
    transition: 0.4s background-color, text-shadow;
    text-shadow: 0 0 0.2em #8c39a8, 0 0 0.2em #9439a8, 0 0 0.2em #e83bee;
}

/*.................................... NAZWA PODSTRONY .........................................*/
.hi{
    background-color: #120621;
    color: white;
    text-align: center;
    padding: 100px 300px 40px 300px;
}

/*.............................................. BIBLIOGRAFIA ............................................*/
.infor{
    text-align: center;
    padding: 100px;
    font-size: 20px;
    font-family: Arial;
}


/*............................................ FOOTER .........................................*/
.footer{
    padding: 20px;
    height: 100%;
    text-align: center;
    background-color: #17181a;
    color: #cccccc;
}

.footernav a{
    text-decoration: none;
    color: grey;
    font-family: Arial;
    padding: 5px;
}

.info{
    padding: 20px;
    font-family: Arial;
}

.copyright{
    padding: 5px;
    font-family: Arial;
}

