* {
    /*background-color: #120621;*/
    margin:0;
    padding:0;
    font-family: Arial;
}

/*.......................................... MENU ...............................................*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #17181a;
    position: fixed;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu >ul > li a:hover {
    background-color: #120621;
    color: white;
    border-radius: 10px;
    transition: 0.4s background-color, text-shadow;
    text-shadow: 0 0 0.2em #8c39a8, 0 0 0.2em #9439a8, 0 0 0.2em #e83bee;
}

/*.................................... NAZWA PODSTRONY .........................................*/
.hi{
    background-color: #120621;
    color: white;
    text-align: center;
    padding: 100px 300px 40px 300px;
}

/*........................................... LOGOWANIE ...........................................*/
.logo{
    text-align: center;
    font-family: Arial;
    background: #ffffff;
    padding: 20px 300px 10px;
    border: 1px solid #dddddd;
    margin-bottom: 20px;
}

.form-group{
    white-space: pre-line;
    margin-bottom: 20px;
    border: none;
}

#inputEmail{
    margin-bottom: 20px;
}




/*........................................ PRZYCISK NA KOŃCU .......................................*/
button[type=submit]{
    color: #120621;
    background-color: white;
    border-style: solid;
    border-color: #120621;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.ConfirmButton{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
button[type=submit]:focus{
    box-shadow: 0 0 1em #120621;
    transition: 1s;
}
button[type=submit]:hover{
    color: white;
    background-color: #120621;
    transition: 1s;
}



/*......................................... MASZ JUŻ KONTO? .......................................*/
.already{
    text-align: center;
    padding: 20px;
}

/*.............................................. STOPKA ............................................*/
.footer{
    padding: 20px;
    height: 100%;
    text-align: center;
    background-color: #17181a;
    color: #cccccc;
}

.footernav a{
    text-decoration: none;
    color: grey;
    font-family: Arial;
    padding: 5px;
}

.info{
    padding: 20px;
    font-family: Arial;
}

.copyright{
    padding: 5px;
    font-family: Arial;
}

.alert-danger{
    color: red;
    background-color: whitesmoke ;
    border: solid 1px red;
    padding: 5px;
    margin: 10px;
}

.invalid-feedback{
    color: red;
    padding: 10px;
}

.alert-success{
    color: green;
    background-color: whitesmoke ;
    border: solid 1px green;
    padding: 5px;
    margin: 10px;
}