* {
    margin:0;
    padding:0;
}

/*.......................................... MENU ...............................................*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-family: Arial;
    position: fixed;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*li a:hover {*/
/*    background-color: #120621;*/
/*    transition: 0.4s background-color, text-shadow;*/
/*    text-shadow: 0 0 0.2em #3990A8, 0 0 0.2em #3990A8, 0 0 0.2em #3990A8;*/
/*}*/


/*.............................. TOPPAGE ...............................*/
.toppage{
    height: 300px;
    color: white;
    text-align: center;
    padding-top: 60px;
    background-color: black;
}

.napis{
    font-size: 40px;
    font-family: Arial;
    text-align: left;
    letter-spacing: 5px;
}

/*.............................. ABOUT PAGE ...............................*/
.whattoexpect{
    line-height: 140%;
    text-align: justify;
    font-family: Arial;
    padding: 10px 300px 60px 300px;
    background-color: whitesmoke;
}

/*.............................. FIRST PARAGRAPH ...............................*/

.firstparagraph{
    font-family: Arial;
    padding: 40px 300px 40px 300px;
    /*background-image: url("pics/meta.png");*/
    background-color: whitesmoke;
}

/*.............................. SECOND PARAGRAPH ...............................*/

.secondparagraph{
    /*text-align: justify;*/
    color: black;
    background-color: blueviolet;
    font-family: Arial;
    /*padding: 30px 300px 60px 300px;*/
    /*line-height: 140%;*/

}

/*............................................ CZTERY CONTAINERY .........................................*/
.container{
    display: inline;
    border: 1px solid black;
    width: 20%;
    padding: 20px;
    color: yellow;
}



/*............................................ FORUM .........................................*/

.forumbutton{
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: #fff;
}

.forumbutton a{
    border: 1px solid whitesmoke;
    text-decoration: none;
    padding: 20px;
    color: white;
    text-shadow:
            0 0 7px #fff,
                /*0 0 10px #fff,*/
                /*0 0 21px #fff,*/
            0 0 42px #bc13fe;
}


/*............................................ FOOTER .........................................*/
.footer{
    padding: 20px;
    height: 100%;
    text-align: center;
    background-color: black;
    color: #cccccc;
}

.footernav a{
    text-decoration: none;
    color: grey;
    font-family: Arial;
    padding: 5px;
}

.info{
    padding: 20px;
    font-family: Arial;
}

.copyright{
    padding: 5px;
    font-family: Arial;
}


/*.username{*/
/*    color: white;*/
/*}*/
