* {
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
}

/*.......................................... MENU ...............................................*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #17181a;
    font-family: Arial;
    position: fixed;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu >ul > li a:hover {
    background-color: #120621;
    color: white;
    border-radius: 10px;
    transition: 0.4s background-color, text-shadow;
    text-shadow: 0 0 0.2em #8c39a8, 0 0 0.2em #9439a8, 0 0 0.2em #e83bee;
}



/*.............................. TOPPAGE ...............................*/
.toppage{
    height: 550px;
    color: white;
    text-align: left;
    /*padding-top: 60px;*/
    /*background-color: #17181a;*/
    background-image: url("pics/telko.png");
    font-family: Arial, sans-serif;
    padding-left: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.tekst{
    padding-top: 100px;
}
.login a{
    border: 1px solid white;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin: 5px;
    float: left;
}
.login a:hover{
    box-shadow: 0 0 7px #fff;
    transition-duration: 0.5s;
}
.register a{
    border: 1px solid purple;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: purple;
    margin: 5px;
    float: left;
}
.register a:hover{
    box-shadow: 0 0 10px purple;
    transition-duration: 0.5s;
}

.serwis{
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 25px;
}

.napis{
    font-family: Arial, sans-serif;
    text-align: left;
    letter-spacing: 5px;
    font-size: 55px;
    padding-bottom: 30px;

}

/*.............................. ABOUT PAGE ...............................*/
.whattoexpect{
    line-height: 160%;
    text-align: left;
    font-family: Arial;
    padding: 10px 600px 60px 180px;
    background-color: whitesmoke;

}

/*.............................. FIRST PARAGRAPH ...............................*/

.firstparagraph{
    font-family: Arial;
    padding: 40px 300px 40px 300px;
    /*background-image: url("pics/meta.png");*/
    background-color: whitesmoke;
}

/*.............................. SECOND PARAGRAPH ...............................*/
.secondparagraph{
    color: white;
    background-color: #120621;
    font-family: Arial, sans-serif;
    padding: 0 30px 30px 30px;
    /*padding: 30px 300px 60px 300px;*/

}
.container{
    border: 1px solid whitesmoke;
    color: black;
    width: 20%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px 5px grey;
    border-radius: 10px;
    /*line-height: 2;*/
    height: 200px;
    margin: 15px;
    display: inline-block;
    line-height: 150%;
}
.kontenery{
    display: flex;
    margin: auto;
    /*background-color: #bc13fe;*/
    width: 100%;
}
.dowiedz{
    padding: 30px;
}
.zobacz1 a{
    text-decoration: none;
    color: cyan;
    font-family: Arial, bold, sans-serif;
    border: solid cyan 1px;
    padding: 5px;
}
.zobacz1 a:hover{
    background-color: cyan;
    color: white;
    transition-duration: 1s;
}
.zobacz2 a{
    text-decoration: none;
    color: deeppink;
    font-family: Arial, bold, sans-serif;
    border: solid deeppink 1px;
    padding: 5px;
}
.zobacz2 a:hover{
    background-color: deeppink;
    color: white;
    transition-duration: 1s;
}
.zobacz3 a{
    text-decoration: none;
    color: blueviolet;
    font-family: Arial, bold, sans-serif;
    border: solid blueviolet 1px;
    padding: 5px;
}
.zobacz3 a:hover{
    background-color: blueviolet;
    color: white;
    transition-duration: 1s;
}
.zobacz4 a{
    text-decoration: none;
    color: purple;
    font-family: Arial, bold, sans-serif;
    border: solid purple 1px;
    padding: 5px;
}
.zobacz4 a:hover{
    background-color: purple;
    color: white;
    transition-duration: 1s;
}
.containerh{
    font-size: 20px;
}

/*............................................ FORUM .........................................*/
.forum{
    background-color: whitesmoke;
    padding: 40px 320px 40px 320px;
    line-height: 160%;
}
.goto a{
    font-weight: bold;
    color: black;
}
.forumbutton{
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: #fff;
}

.forumbutton a{
    border: 1px solid whitesmoke;
    text-decoration: none;
    padding: 20px;
    color: white;
    text-shadow:
            0 0 7px #fff,
                /*0 0 10px #fff,*/
                /*0 0 21px #fff,*/
            0 0 42px #bc13fe;
}


/*............................................ KIDSY .........................................*/

.kids{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("pics/mainstrefa.png");
    /*height: 400px;*/
    color: white;
    text-align: center;
    padding: 50px 400px 50px 400px;
    line-height: 2.5;
}
.gotokids a{
    text-decoration: none;
    color: white;
    border: solid 1px white;
    padding: 10px;
}
.gotokids a:hover{
    color: purple;
    background-color: white;
    transition-duration: 1s;
}
.strefakid{
font-weight: bold;
    font-size: 50px;
}


/*............................................ LAST .........................................*/

.thirdparagraph{
    background-color: whitesmoke;
    padding: 100px 350px 100px 350px;
    line-height: 160%;
}
.thirdparagraph a{
    color: black;
    font-weight: bold;
}



/*............................................ FOOTER .........................................*/
.footer{
    padding: 20px;
    height: 100%;
    text-align: center;
    background-color: #17181a;
    color: #cccccc;
}

.footernav a{
    text-decoration: none;
    color: grey;
    font-family: Arial;
    padding: 5px;
}

.info{
    padding: 20px;
    font-family: Arial;
}

.copyright{
    padding: 5px;
    font-family: Arial;
}


/*.username{*/
/*    color: white;*/
/*}*/
